# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Large data files
olist_*.csv
*.pkl
*.npy

# Output files
rfm_*.csv
rfm_*.npy
top_10_association_rules.csv
final_model_regression.pkl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
