# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Large data files (QUAN TRỌNG)
*.csv
*.pkl
*.npy
*.parquet
*.h5

# Output files
rfm_*.csv
rfm_*.npy
top_10_association_rules.csv
final_model_regression.pkl

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
